body p{
    font-size: 1.15rem;
}

h3{
    margin-top: 5rem;
}

#mypict{
    max-width: 160px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#sosmed a{
    margin-right: 10px;
}

:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
}
[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}
h1 {
  color: var(--secondary-color);
}
a {
  color: var(--primary-color);
}
.theme-switch-wrapper {
  display: flex;
  margin-top: 1.5em;
  /*margin-left: 2em;*/
}
em {
  margin-top: 0.5em;
  margin-left: 1em;
  font-size: 1rem;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2a5e5b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}